<div class="navbar">
    <a routerLink="/" routerLinkActive="active">
        <i class="fas fa-home"></i> Home
    </a>
    <div class="dropdown">
        <a routerLink="/about" routerLinkActive="active">
            <i class="fas fa-briefcase"></i> Jobs and Responses
        </a>
        <div class="dropdown-content">
            <a href="#">Post a Hot Vacancy</a>
            <a href="#">Post  a Classified</a>
            <a href="#">Post a Private Job</a>
            <a href="#">Post a Referral Job</a>
            <a href="#">Post an Internal Job</a>
            <a href="#">Manage Jobs & Responses</a>
            <a href="#">eApps</a>
            <a href="#">Folders</a>
            <a href="#">Email Templates</a>
            <a href="#">Questionnaires</a>
        </div>
    </div>
    <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search...">
        <div class="search-dropdown">
            <!-- Your dropdown content here -->
            <a href="searchresume">Search Resumes</a>
            <a href="#">Resdex Requirements</a>
            <a href="#">Manage Searches</a>
            <a href="#">Personal Folders</a>
            <a href="#">Mail Center</a>
            <a href="#">Email Templates</a>
            <a href="#">SMS Templates</a>
        </div>
    </div>
    <a routerLink="/services" routerLinkActive="active">
        <i class="fas fa-cog"></i> RMS
    </a>
    <a routerLink="/reports" routerLinkActive="active">
        <i class="fas fa-chart-bar"></i> Reports
    </a>
  
    <!-- Add Referral link with a human icon -->
    <a routerLink="/referral" routerLinkActive="active">
        <i class="fas fa-user"></i> Referral
    </a>
</div>
